POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=dummy-postgres-password

RABBITMQ_HOST=temp-email-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=rabbitmq
RABBITMQ_PASSWORD=dummy-rabbitmq-password
RABBITMQ_COOKIE=dummy-rabbitmq-cookie

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=dummy-recaptcha-site-key
NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001

BASE_URL=https://www.temp-email.dev
NEXT_PUBLIC_SERVER_API_URL=http://temp-email-api:3001

JWT_SECRET=dummy-jwt-secret-change-me

RECAPTCHA_SECRET_KEY=dummy-recaptcha-secret-key

BLOG_DATABASE_URL=postgresql://postgres:dummy-postgres-password@temp-email-postgres:5432/temp-email-blog?schema=public

SETTINGS_DATABASE_URL=postgresql://postgres:dummy-postgres-password@temp-email-postgres:5432/temp-email-settings?schema=public
