MAILCOW_API_KEY=EF94D5-CFF324-A94ACF-D3CF5D-95E9E8
MAILCOW_API_URL=https://mail.gasfeespy.com/api/v1
MAILCOW_DOMAIN=corenewsbd.com
MAILCOW_USERNAME=temp-email
MAILCOW_PASSWORD=TempEmail@123

IMAP_HOST=mail.gasfeespy.com
IMAP_PORT=993
IMAP_USERNAME=temp-email@corenewsbd.com
IMAP_PASSWORD=TempEmail@123
